.adm-list-body{
    font-size: 16px;
    background-color: inherit;
    border: none !important;
    margin-bottom: 16px;
}
.no-fold +.adm-collapse-panel-content{
    height: 0 !important;
}
.adm-list-item-content{
    padding-right: 0;
}
.adm-list-item{
    background-color: inherit;
    padding-right: 12px;
}
a.adm-list-item:active:not(.adm-list-item-disabled){
    background-color: transparent;
}
a.adm-list-item:active:not(.adm-list-item-disabled)::after{
    border-bottom: none;
}
.adm-collapse-panel-content{
    font-size: 14px;
}
.adm-list-item-content-main{
    padding:0;
}
.item-border{
    border-bottom: 1px solid #94a3b8;
}
.finally-collapse > .adm-list-item-content{
    border-bottom: 1px solid #94a3b8;
}
.finally-collapse +div .adm-list-item-content{
    border-top: 0;
}
.adm-list{
    --border-inner: 1px solid #94a3b8;
}